.wrapper-on-localtaxiservices{
    height: fit-content;
}
.hero-section {
    text-align: center;
    padding: 10px;
    color: #333;
  }
  
  .hero-title {
    font-size: 3vw;
    font-weight: 800;
    color: #585858;
    margin-bottom: 10px;
    text-transform: uppercase;
    margin: 0 0 20px 0;
  }
  
  .hero-description {
    font-size: 2vw;
    line-height: 1.6;
    color: #555;
    margin: 0 auto;
    font-weight: 400;
  }
  