.wrapper-on-bg-img{
   position: relative;
}
.bg-image-on-landing{
    background-image: url(../../assets/landingpagebg.jpeg);
    width: 100%;
    min-height: 571px;
    height: 30vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    position: relative;
}
.dark-image-background{
    background-image: linear-gradient(90deg, rgba(0, 0, 0, .836), transparent);
    width: 100%;
    height: 100%;
}
.tag-lines{
    width: 65%;
    font-size: clamp(18px, 1.5vw, 40px);
    color: white;
    line-height: 1.3;
    height: 100%;
    position: relative;
}
.tag-line-wrapper{
    width: 65%;
    position: absolute;
    top: 20%;
    left: 2%;
}
.tag-line-bold{
    font-weight: 600;
    color: #45D203;
}
p{
    padding: 0;
    margin: 0;
}
.tag-line-first-item{
   font-weight: 300;
}
.tag-line-bold-1{
    padding-left: 10px;
}

/* tablet view */
@media (max-width: 768px) {
    .tag-line-wrapper{
        position: absolute;
        top: 28%;
    }
}

@media (max-width: 750px) {
    .dark-image-background{
        background-image: linear-gradient(180deg, rgba(0, 0, 0, .836), transparent);
    }
    .tag-line-wrapper{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 1%;
        text-align: center;
        
    }
    .tag-lines{
        width: 100%;
        height: 45%;
    }
}
