.nav-bar{
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2vw;

}
.nav-bar .contact{
    background-image: url("../../../assets/contactNo.svg");
    width: 22vw;
    height: 5vw; 
    background-size: contain;
    object-fit: cover;
    background-repeat: no-repeat;
    position: relative;
}
.nav-bar .contact a{
    font-size: clamp(8px,1.25vw,100px);
    color: white;
    text-decoration: none;
    font-weight: 800;
    position: absolute;
    right: 5%;
    top: 25%;
}
.logo{
    height: 3.5vw;
}
.right-menu-items{
    height: 100%;
    width: 17%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.item-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.item-container .icon{
    width: clamp(18px, 3vw, 40px);
    height: auto;
    color: #A0A0A0;
}
.item-container p{
    font-size: clamp(12px, 0.78vw, 22px);
}

@media (max-width: 1044px) {
    .right-menu-items .download-icon{
        display: none;
    }
}