.wrapper-on-notfaigrid{
    height: fit-content;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    margin-top: 5%;
}
.info-section {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 1rem;
    border-radius: 10px;
  }
  
  .info-card {
    flex: 1;
    text-align: center;
    padding: 20px;
  }
  
  .card-icon {
    color: #216900;
    margin-bottom: 10px;
    width: 30%;
    height: 15%;
  }
  
  .title {
    font-size: 2vw;
    font-weight: 600;
    color: #216900;
    margin-bottom: 10px;
  }
  
  .description {
    font-size: 1.5vw;
    line-height: 1.5;
    color: #555;
    font-weight: 400;
  }
  
  .info-card + .info-card {
    border-left: 2.5px solid #747373;
  }
  