.oneway{
    width: 90%;
    height: 100%;
    margin: 4% 0;
}
.oneway .btn{
    border-radius: 8px;
    border-color: #216900;
    background-color: #216900;
    color: white;
    font-weight: 700;
    font-size: clamp(17px,1.53vw,100px);
    padding: .58vw 3.3vw;
}
.container-of-field{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80%;
}
.top-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.bottom-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}
.icon-wrapper{
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    outline: none;
    border: none;
    height: 20px;
    background-color: transparent;
    width: 97%;
}
.explore-btn{
    width: 100%;
    display: flex;
    justify-content: center;
}
.field-wrapper{
    border-bottom: 2px solid #585858
}
.input-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p-for-field{
    font-size: 1rem;
    color: #585858;
}
.icon{
    padding-right: 2%;
    width: 20px;
    height: 20px;
}