.outstation{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 95%;
    padding-top: 4%;
}
.outstation .btn-container .btn{
    height: 40px;
    width: 145px;
    border-radius: 8px;
    border-color: #216900;
    font-weight: 600px;
    font-size: 20px;
    color: #A0A0A0;
    background-color: white;
    border-width: 1.6px;
}
.outstation .btn-container .activeb-btn{
    height: 40px;
    width: 145px;
    border-radius: 8px;
    border-color: #216900;
    background-color: #216900;
    color: white;
    font-weight: 600px;
    font-size: 20px;
}
.btn-container{
    width: 55%;
    display: flex;
    justify-content: space-between;
}