  .why-choose-one-way-cab{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: clamp(10px, 3vw, 40px)
  }
  .why-choose-one-way-cab .title{
    font-size: 3vw;
    color: #216900;
    font-weight: 600;
    margin: 0 5px 0 5px;
  }
  
  .why-choose-one-way-cab .features-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2%;
  }
  
  .features-container .features-box{
    background-color: #F2EFEF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
  }
  
  .features-container .features-box ul li{
    font-size: 1.5vw;
    font-weight: 400;
    padding-right: 5px;
    line-height: 2;
  }
  
  .features-container .image-container .image {
    width: 100%;
    border-radius: 16px;
  }

  .features-container .image-container{
    height: fit-content;
    max-width: 40%;
  }
 
  .subtext-container .subtext{
    font-size: 2.5vw;
    font-weight: 400;
    color: #71766F;
    text-align: center;
  }
  .subtext-container .subtext .highlight{
    color: #216900;
  }
