.wrapper-0n-whycab{
    height: 620px;
}
  .why-choose-one-way-cab{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .why-choose-one-way-cab .title{
    font-size: 64px;
    color: #216900;
    font-weight: 600;
    margin: 0 5px 0 5px;
  }
  
  .why-choose-one-way-cab .features-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .features-container .features-box{
    background-color: #F2EFEF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
  }
  
  .features-container .features-box ul li{
    font-size: 20px;
    font-weight: 400;
    padding-right: 5px;
    line-height: 2;
  }
  
  .features-container .image-container .image {
    max-width: 400px;
    border-radius: 16px;
  }
 
  .subtext-container .subtext{
    font-size: 36px;
    font-weight: 400;
    color: #71766F;
    text-align: center;
  }
  .subtext-container .subtext .highlight{
    color: #216900;
  }
