.wrapper-0n-whycab{
    height: 620px;
}
  
  .one-way-journey .content {
    max-width: 50%;
  }
  
  .one-way-journey .content h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .one-way-journey .content .title{
    font-size: 36px;
    font-weight: 800;
    color: #585858;
  }
  .one-way-journey .content .title .highlight {
    color: #216900; 
  }

  .one-way-journey .content  .description{
    color: #585858;
    font-size: 20px;
    font-weight: 400;
  }
  
  .one-way-journey .content p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
    margin-bottom: 20px;
  }
  
  .read-more {
    font-size: 16px;
    color: #007BFF; /* Blue color for link */
    text-decoration: none;
  }
  
  .read-more:hover {
    text-decoration: underline;
  }
  
  .image-container {
    max-width: 40%;
  }
  
  .illustration {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  