  .wrapper-0n-carrental .container {
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .wrapper-0n-carrental .container .header {
    background-color: #216900;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
  }
  
  .wrapper-0n-carrental .container .header h1 {
    margin: 0;
    font-size: clamp(12px, 3vw, 48px);
  }
  
  .wrapper-0n-carrental .container .content {
    padding: 20px;
    background-color: #F1F2F5;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .wrapper-0n-carrental .container .content ul {
    padding: 0 20px 0 20px;
  }
  
  .wrapper-0n-carrental .container .content li {
    margin-bottom: 15px;
    font-size: clamp(7px,1.5vw,22px);
    line-height: 1.6;
    color: #585858;
  }
  
  .wrapper-0n-carrental .container .content strong {
    color: #585858;
  }
  